body{
    background-image: url(../img/4.JPEG);
    }
    
    h1{
        text-align: center;
        color:rgb(0, 1, 2);
        text-justify: distribute;
        text-decoration: turquoise;
        font-size: 300%;
    }
    
    p{
        text-align: center;
        color: rgb(3, 0, 0);
        font-size: 200%;
        text-justify: distribute;
        font-family: cursive;
    } 
    
    #visor_imagenes {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      .blanco-rojo {
        color: black;
        background-color:  rgb(214, 200, 200);
        text-anchor: unset;
        font-size: 150%;
      }