body {
    background-image: url(../img/GASTRONOMIA.JPEG);
    background-size: 137%;
}

h1 {
  color: black;
  text-align: center;
  font-size: 400%;
  font-family: monospace;
}

  .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: black;
    border-radius: 6px;
    border: 2px solid white;
    justify-content: center;
    width: 110px;
   margin-left: 50%;
   transform: translateX(-50%);
  }