Body{
     Background-image:
Url(.../img/Mexicodesconocido.com);
     Background-size:  137%;
}
 H1 {
  Text-aling:center;
   Font-size:400%;
   Font-family:monospace;
}
 H2{
  Color:#uffffff;
  width:1.0;
  Justify-content: center;
}